body{
    font-family: 'Raleway';
    background: #243119;
    font-style:normal;
    color:#F9F8F8;
}


.heroHeader{
    color: #BB9F06;
}

h1{
    text-align: center;
    font-weight: 600;
    font-size: 60px;
    color: #F9F8F8;
    padding-top: 30px;
   
}

.nav{
    background: #BB9F06;
    height:100px;
    align-items: center;
}

.nav a{
    display:flex;
    color: #243119;
    font-size: 28px;
    gap:30px;
}



.heroContainer{
    display: flex;
    height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    margin:0;
    margin-bottom: 20px;
    width:250px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}
.ourRoles {
    width:250px;
    
}

.ourRoles li{
    width:250px;
}

.heroImage{
    
    margin-top: 50px;
    width:1000px;
}

.heroText{
    display: flex;
    flex-direction: row;
    width: 1000px;
    gap:150px;
    
}

.duration h2{
    width: 300px;
    
}

.duration{
    text-align: center;
}

.tools{
    text-align: center;
}



h3{
    text-align: center;
    padding-top: 30px;
    color:#BB9F06;
    font-weight: 800;
    font-size: 100px;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 5px;
}

.problemContainer{

    display: flex;
    flex-direction: column;
    height:1600px;
    background:#F9F8F8;
    color:black;
    
}

.problemContainer h3{
    color:#243119;
    text-decoration-color: #BB9F06;
}

.problemTopText{
    
    font-size: 32px;
    padding-top: 50px;
    align-self: center;
    text-align: center;
    width: 800px;

}

h4{
    color:#243119;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    margin:0;
    margin-bottom: 30px;
    
}

.problemMiddleText{
    font-size: 32px;
    align-self: center;
    text-align: center;
    width: 800px;
}

.problemBottomText{
    font-size: 32px;
    align-self: center;
    
    
}

.originalPagesContainer{
    
    height:3300px;

}

.originalPagesContainer h3{
    text-underline-offset: 35px;
    text-decoration-thickness: 5px;
}



.ogPictures{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.ogPictures h1{
    font-size: 48px;
    margin-bottom: 20px;
    
}



.donateVolunteer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donateImage{
    width:1200px;
}

.volunteerImage{
    width:1200px;
}

.donateVolunteer h1{
    margin-bottom: 20px;
    padding-top: 50px;

}

.userResearchContainer{
    display: flex;
    flex-direction: column;
    background: #F9F8F8;
    color:black;
    text-align: center;
    font-size: 32px;
    height:1050px;
}

.userResearchContainer h3{
    color:#243119;
    text-decoration-color: #BB9F06;
}

.researchLeftSide h4{
    color:#243119;
}


.swotContainer{
    display: flex;
    justify-content: center;
    background: #F9F8F8;
}

.storyboardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.storyboardContainer h3{
    margin-bottom: 30px;
    text-underline-offset: 30px;
}


.topResearchText{
    display: flex;
    min-width: fit-content;
    margin-top: 20px;
 
    
    justify-content: center;
    text-align: center;
    align-items: center;
}

.topResearchText p{
    width:1435px;
}



.researchLeftSide{
    text-align: left;
    width:40%;
}

.researchLeftSide h4{
    text-align: left;
    padding:0;
}

.researchInsightsContainer{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: center;
}

.researchImg{
    height:600px;
}

.userPersonaContainer{
    display: flex;
    
    
}

.persona{
    width: 1920px;
}

.midFiContainer{
    display: flex;
    flex-direction: column;
    
}
.midFiHeaders{
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    gap:90px;
}
.midfiHome, .midfiResidents{
    width:40%;
}
.midfiHomeandResidents{
    display: flex;
    flex-direction: row;
}

.midfiPrototypes{
    margin-left: 100px;
    margin-right: 100px;
}

.midfiMobilePrototypes{
    margin-left: 100px;
    margin-right: 100px;
}

.styleGuideContainer{
    display: flex;
    flex-direction: column;
    background-color: #F9F8F8;
    justify-content: center;
}

.styleGuideContainer h3{
    margin-bottom: 30px;
    text-underline-offset: 30px;
    color: #243119;
    text-decoration-color: #BB9F06;
}

.styleGuide1{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
}

.userTestingContainer{
    background-color: #F9F8F8;
    padding-bottom: 30px;
}

.userTestingContainer h3{
    text-underline-offset: 30px;
    color: #243119;
    text-decoration-color: #BB9F06;
    padding-top: 100px;
}

.userTestingContainer ul{
   
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color:black;
    font-size: 36px;
    justify-content: center;
    padding:0px;
    margin-left: 500px;
    margin-right: 500px;
    
}

.userTestingContainer li{
    margin-top: 20px;
    
}

.hifiContainer{
    display: flex;
    flex-direction: column;
}

.desktopHifis{
    margin-left: 100px;
    margin-right: 100px;
}

.hifiMobile{
    margin-left: 100px;
    margin-right: 100px;
}

.conclusionContainer{
    height:500px;
}

.conclusionText{
    display: flex;
    min-width: fit-content;
    margin-top: 20px;
 
    
    justify-content: center;
    text-align: center;
    align-items: center;
}

.conclusionText p{
    width:1435px;
    font-size: 36px;
}
.conclusionContainer h3{
    padding-top: 50px;
}